<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="0.8.4/fuwu-pl.js"></script>
    <script>
      var da = $fuwuProxy();
      da.arr = ["A", "B", "C", "D", "E", "F", "G", "H"];
      var other = $fuwuProxy();
      other.arr = ["B", "D", "F", "H"];
    </script>
    <style>
      @keyframes move {
        from {
          transform: translateX(0px);
        }
        to {
          transform: translateX(100px);
        }
      }

      li {
        animation: 3s infinite alternate move;
      }
    </style>
    <template id="ul">
      <ul>
        <f-for from="array">
          <f-var def="blue: getIsBlue($item, $index), text: getText($item, $index)"></f-var>
          <li evt:f-add="console.log(this);" f:style="!blue ? 'color: red' : 'color: blue'" evt:click="array.splice($index, 1);">
            {{text}}
            <f-if check="blue">
              <span>Blue</span>
            </f-if>
            <f-else>
              <span>Red</span>
            </f-else>
          </li>
        </f-for>
      </ul>
    </template>
  </head>
  <body>
    <f-pl data="da, other">
      <f-var def="array: da.arr, getIsBlue($item, $index){ return $index % 2 }, getText($item){ return $item }"></f-var>
      <f-in in-id="ul"></f-in>
      <br>
      <f-var def="array: other.arr, getIsBlue($item, $index){ return false }"></f-var>
      <f-in in-id="ul"></f-in>
    </f-pl>
    <f-pl data="other">
      <f-var def="array: other.arr, getIsBlue($item, $index){ return false }, getText($item){ return $item }"></f-var>
      <f-in in-id="ul"></f-in>
    </f-pl>
  </body>
</html>
